/.venv_app

/Rafael_Dottori_PB_TP1.pdf
/Rafael_Dottori_PB_TP1_notebook.ipynb
/Rafael_Dottori_PB_TP2.pdf
/Rafael_Dottori_PB_TP2_notebook.ipynb
/Rafael_Dottori_PB_TP3.pdf
/Rafael_Dottori_PB_TP3_notebook.ipynb
/Rafael_Dottori_PB_TP3.zip
/Rafael_Dottori_PB_TP4.pdf
/Rafael_Dottori_PB_TP4_notebook.ipynb
/Rafael_Dottori_PB_TP4.zip
/Rafael_Dottori_PB_TP5.pdf
/Rafael_Dottori_PB_TP5_notebook.ipynb
/Rafael_Dottori_PB_TP5.zip

/data/filmes.csv
/data/filmes_copia.csv
/data/top_250_analises_copia.csv
/data/top_250_filmes_copia.csv

/.env
/Link GitHub.txt
/modeling/tests.ipynb
/old/*