/.venv_app

/tps/
/Rafael_Dottori_PB_TP1.pdf
/Rafael_Dottori_PB_TP1_notebook.ipynb
/Rafael_Dottori_PB_TP2.pdf
/Rafael_Dottori_PB_TP2_notebook.ipynb
/Rafael_Dottori_PB_TP3.pdf
/Rafael_Dottori_PB_TP3_notebook.ipynb
/Rafael_Dottori_PB_TP3.zip
/Rafael_Dottori_PB_TP4.pdf
/Rafael_Dottori_PB_TP4_notebook.ipynb
/Rafael_Dottori_PB_TP4.zip
/Rafael_Dottori_PB_TP5.pdf
/Rafael_Dottori_PB_TP5_notebook.ipynb
/Rafael_Dottori_PB_TP5.zip
/Rafael_Dottori_PB.ipynb
/Rafael_Dottori_PB.pdf
/Rafael_Dottori_PB_reentrega_notebook.ipynb
/Rafael_Dottori_PB_reentrega.pdf

/modeling/tests.ipynb
/modeling/chatbot.ipynb
/modeling/dashboard.ipynb

/src/__pycache__
/.env
/Link GitHub.txt
/cache/*
/old/*
/teste.ipynb