beautifulsoup4
fastapi
google-generativeai
httpie
jupyter
langchain
langchain_community
langchain_google_genai
matplotlib
nltk
pandas
pydantic
seaborn
selenium
sentencepiece
streamlit
torch
transformers
uvicorn
wordcloud
